<ion-header class="no-background">
  <ion-toolbar [style.--background]="notaModal.color">
    <ion-buttons slot="start">
      <ion-back-button (click)="dismissModal()" defaultHref="main"></ion-back-button>
    </ion-buttons>
    <!--     <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="pin-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="notaModal.color">

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" *ngFor="let foto of notaModal.imagenes">
        <img src="{{foto}}">
        <ion-button (click)="deletePic(foto)" class="deleteButton" color="dark" fill="solid">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item [style.--background]="notaModal.color" class="note-title" lines="inset">
    <ion-input [(ngModel)]="notaModal.titulo" placeholder="Título" type="text"></ion-input>
  </ion-item>
  <ion-item [style.--background]="notaModal.color" lines="none">
    <ion-textarea [(ngModel)]="notaModal.descripcion" placeholder="Contenido" autoGrow="true"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar [style.--background]="notaModal.color">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="alarm"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="image"></ion-icon>
        <ion-input type="file" (change)="addImageToNota($event.target.files)"></ion-input>
      </ion-button>
      <ion-button (click)="openColorPopover($event)">
        <ion-icon slot="icon-only" name="color-palette"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openActions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>