<ion-header class="ion-no-border" [translucent]="true">

  <ion-item *ngIf="!editMode" class="main-bar" lines="none">

    <ion-buttons class="menu-button" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-searchbar class="search-bar" searchIcon="undefined" placeholder="Buscar en tus notas" inputmode="search"
      type="search" (ionChange)="onSearchChange($event)" [debounce]="150" showCancelButton="never"></ion-searchbar>

    <ion-buttons class="menu-button">
      <ion-button>
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
      <ion-avatar class="logout-button">
        <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
      </ion-avatar>
    </ion-buttons>

  </ion-item>

  <ion-toolbar class="main-toolbar" *ngIf="editMode">
    <ion-buttons slot="start">
      <ion-button (click)="stopEditMode()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      <span>
        {{selected.length}}
      </span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="flag-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openColorPopover($event)">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteArrayOfNotes()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (ionScrollStart)="isScrolling = true" (ionScrollEnd)="isScrolling = false" scrollEvents="true"
  [fullscreen]="true">

  <!--   <ion-button (click)="createNote()">Try Create</ion-button>  -->

  <div class="pins">

    <ion-card *ngFor="let item of notas" (click)="selectNote(item)" long-press (press)="startEditMode(item)"
      [class.selected]="isSelected(item)" [style.--background]="item.color" class="pin">
      <div *ngIf="item.imagenes">
        <img *ngFor="let foto of item.imagenes" src="{{foto}}">
      </div>
      <ion-card-header class="card-header">
        <ion-card-title>
          {{item.titulo}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        {{item.descripcion}}
      </ion-card-content>
    </ion-card>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openNoteModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="mic"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>