ion-toolbar {
    padding-top: 0px !important;
}

.note-title {
    font-size: x-large;
    --padding-top: 3%;
    --padding-bottom: 2%;
}

.no-background::after {
    background-image: none !important;
}

.imageModal .img {
    max-width: 100%;
    border: 0;
    height: 100%;
    width: 100%;
}

.imagesContainer {
    
}

.deleteButton {
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-80%, -80%);
    -ms-transform: translate(-80%, -80%);
    border: none;
    cursor: pointer;
    text-align: center;
}

.hideInput {
    position: absolute;
    bottom: -100000000px;
}